<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/users">User Dashboard</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">Logout</a></li>
			</ul>
				<form class="navbar-form navbar-right">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
		</div>
	</nav>

<div class="container">
	<h2>Profile <span class="glyphicon glyphicon-user"></span></h2><a href="/users/{{user.id}}/edit">Edit Info</a> | <a href="/users/{{user.id}}/destroy">Delete User</a>
	
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="Name">User ID:</label>
			<div class="col-sm-10">
				<p class="form-control-static">#{{user.id}}</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="Name">First Name:</label>
			<div class="col-sm-10">
				<p class="form-control-static">{{user.first_name}}</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="Name">Last Name:</label>
			<div class="col-sm-10">
				<p class="form-control-static">{{user.last_name}}</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="email">Email:</label>
			<div class="col-sm-10">
				<p class="form-control-static">{{user.email}}</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="createdat">Created At:</label>
			<div class="col-sm-10">
				<p class="form-control-static">{{user.created_at}}</p>
			</div>
		</div>
		<button type="cancel" class="btn btn-default"><a href="/users">Cancel</a></button>
		</div>
	</body>
</html>